@page "{locale}"
@model OffPlanner.Web.Pages.Suggestions

@{
    ViewData["Title"] = "Suggestions";
}

<h1>List of Days Off Suggestions</h1>
<p>@Model.CountryName (@Model.Locale)</p>

@if (Model.Regions.Count > 0)
{
    <form method="get" class="form">
        <div class="row g-3">
            <label for="region" class="col-sm-1 col-form-label">Region:</label>
            <div class="col-sm-11">
                <select id="region" name="region" asp-for="Region" class="form-control" onchange="this.form.submit();">
                    <option value=""> Select one </option>
                    @foreach (var region in Model.Regions)
                    {
                        <option value="@region">@region</option>
                    }
                </select>
            </div>
        </div>
    </form>
    <p>&nbsp;</p>
}

@if (Model.VacationSuggestions != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Workings Days Booked</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Ratio ( <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg> - WIP)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var group in Model.VacationSuggestions)
        {
            <tr>
                <td colspan="5" class="bg-light">With @group.TotalDaysOff Days Off</td>
            </tr>

            @foreach (var suggestion in group.Suggestions)
            {
                <tr>
                    <td>@suggestion.VacationDaysSpent</td>
                    <td>@($"{suggestion.StartDate:D}")</td>
                    <td>@($"{suggestion.EndDate:D}")</td>
                    <td>@($"{suggestion.Ratio:P0}")</td>
                    <td>
                        <table class="days-explain">
                            <tr>
                                @foreach (var day in suggestion.Days)
                                {
                                    <td class="day @(day.IsHoliday ? "day-holiday" : "") @(day.IsWeekend ? "day-weekend" : "")">@day.DateTime.DayOfWeek.ToString()[..1]</td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }
    </table>
}

<p>Select another <a href="@Url.Page("Countries")">country</a></p>