@page "{locale}"
@model OffPlanner.Web.Pages.Suggestions

@{
    ViewData["Title"] = "Suggestions";
}

<h1>List of Days Off Suggestions</h1>
<p>@Model.CountryName (@Model.Locale)</p>

<form method="get" class="form">
    @if (Model.Regions.Count > 0)
    {
        <div class="row mb-3">
            <label for="region" class="col-sm-2 col-form-label">Region:</label>
            <div class="col-sm-10">
                <select id="region" name="region" asp-for="Region" class="form-control">
                    <option value=""> Select one </option>
                    @foreach (var region in Model.Regions)
                    {
                        <option value="@region">@region</option>
                    }
                </select>
            </div>
        </div>
    }
    <div class="row mb-3">
        <label for="day" class="col-sm-2 col-form-label">Extra Off Days:</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm">
                    <input type="date" id="day" name="day" value="@Model.Days[0]?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            <!--
            <div class="col-auto">
                <button class="btn btn-danger col-auto">-</button>
            </div>
            -->
            </div>

            <div class="row">
                <div class="col-sm">
                    <input type="date" id="day" name="day" value="@Model.Days[1]?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="date" id="day" name="day" value="@Model.Days[2]?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="date" id="day" name="day" value="@Model.Days[3]?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="date" id="day" name="day" value="@Model.Days[4]?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>

            <!--
        <div class="row" id="add-days-link">
            <a href="#">Add Day</a>
        </div>
        -->
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
<p>&nbsp;</p>

@if (Model.VacationSuggestions != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Workings Days Booked</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Ratio (WIP)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var group in Model.VacationSuggestions)
        {
            <tr>
                <td colspan="5" class="bg-light">With @group.TotalDaysOff Days Off</td>
            </tr>

            @foreach (var suggestion in group.Suggestions)
            {
                <tr>
                    <td>@suggestion.VacationDaysSpent</td>
                    <td>@($"{suggestion.StartDate:D}")</td>
                    <td>@($"{suggestion.EndDate:D}")</td>
                    <td>@($"{suggestion.Ratio:P0}")</td>
                    <td>
                        <table class="days-explain">
                            <tr>
                                @foreach (var day in suggestion.Days)
                                {
                                    <td class="day @(day.IsHoliday ? "day-holiday" : "") @(day.IsWeekend ? "day-weekend" : "")">@day.DateTime.DayOfWeek.ToString()[..1]</td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }
    </table>
}

<p>Select another <a href="@Url.Page("Countries")">country</a></p>